.btn {
    &.btn-primary {
        background-color: $secondary-color;
        border-color: $secondary-color;
        transition: all .2s ease-in-out;

        &:hover {
            background-color: darken($secondary-color, 15%);
            border-color: darken($secondary-color, 15%);
        }
    }
}