$bg-color: #373E40;
$main-color: #FFD800;
$hero-start-color: #CB4300;
$hero-end-color: #702200;
$secondary-color: #CB4300;
$text-light-color: #ffffff;
$text-dark-color: #000000;
$section-bg-color: #F2F2F2;
$code-bg-color: #ffffff;