body {
    padding-top: 3rem;
    background: $bg-color;
    color: $text-light-color;
}
main {
    padding: 2rem 0;
}
img {
    max-width: 100%;
}
a {
    color: $secondary-color;
    transition: all .2s ease-in-out;

    &:hover {
        color: darken($secondary-color, 10%);
    }
}
h1,h2,h3,h4,h5,h6 {
    color: $main-color;
}