.navbar.fixed-top {
    background: $bg-color;
    border-bottom: 1px solid #ddd;
    font-family: Raleway,sans-serif;
    box-shadow: 0 0 2rem rgba(0,0,0,.15);
    padding-top: 0;
    padding-bottom: 0;

    .navbar-nav {
        font-size: 0.875rem;
        font-weight: bold;
        color: $main-color;
        text-transform: uppercase;
        
        a.nav-link {
            color: $main-color;
        }
        
        .active {
            a.nav-link {
                color: $secondary_color;
            }
        }
    }

    .navbar-toggler {
        padding: .25rem .5rem;

        .navbar-toggler-icon {
            width: 1em;
            height: 1em;
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 767px) {
    .navbar.fixed-top {
        .container {
            max-width: 100%;
        }
    }
}